  ----
  License (GPL version 2)
  ----
  Tolga Yilmaz;
  meta-description=View the full GPL version 2 license for the 64bitlabsutils Java utilities.;
  ----

64bitlabsutils License

  The 64bitlabsutils are licensed under the GNU General Public License
  version 2 (GPL).  The full text of the license is below.  You may also wish
  to read the {{{./licenseFAQ.html}frequently asked questions about why this license is used}}.

*Full License

%{code-snippet|file=LICENSE.txt}
