  ----
  DateTimeParse_sv.properties Source Code
  ----
  Tolga Yilmaz;
  meta-description=View the source code for DateTimeParse_sv.properties from the 64bitlabsutils Java utilities.;
  ----

DateTimeParse_sv.properties Source Code





%{code-snippet|file=src/main/resources/com/Ostermiller/util/DateTimeParse_sv.properties}
