  ----
  DateTimeParse_it.properties Source Code
  ----
  Tolga Yilmaz;
  meta-description=View the source code for DateTimeParse_it.properties from the 64bitlabsutils Java utilities.;
  ----

DateTimeParse_it.properties Source Code





%{code-snippet|file=src/main/resources/com/Ostermiller/util/DateTimeParse_it.properties}
