  ----
  PropertiesLexer.lex Source Code
  ----
  Tolga Yilmaz;
  meta-description=View the source code for PropertiesLexer.lex from the 64bitlabsutils Java utilities.;
  ----

PropertiesLexer.lex Source Code





%{code-snippet|file=src/main/jflex/com/Ostermiller/util/PropertiesLexer.lex}
